addict==2.4.0
chardet==5.2.0
cvxpy==1.4.3
gcvspline==0.4
grad_cam==1.4.6
graphviz==0.20.1
lmdb==1.4.1
matplotlib==3.6.0
mc==0.0
mmengine==0.9.0
mmrazor==1.0.0
netron==6.5.3
numpy==1.26.4
onnxruntime==1.12.1
onnxsim==0.4.17
packaging==21.3
pandas==1.5.3
parrots==1.0.3
popart==0.1.1
pymrmr==0.1.11
pytest==8.2.0
PyYAML==6.0.1
PyYAML==6.0.1
regex==2022.10.31
rich==13.7.1
scikit_learn==1.2.1
scipy==1.13.0
seaborn==0.13.2
setuptools==69.0.3
setuptools==63.2.0
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
tensorrt==10.0.1
torch==1.13.1+cu116
torch_npu==2.2.0
torch_tb_profiler==0.4.3
torchvision==0.14.1+cu116
xgboost==2.0.3
yapf==0.40.1
